.modal{
    display: none; /* . significa que modal é uma classe aplica este estilo a qualquer elemento que tenha class="modal*/
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100€;
    height: 100%;
    
    background: rgba(0,0,0,0.7);
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50px;
}

.fechar {
  position: absolute; /* para posicionar livremente dentro da modal*/
  top: 20px;/*distância do topo*/
  right: 30px;/**/
  font-size: 30px;/**/
  color: white;/**/
  cursor: pointer;/*mostrar que é clicável*/
}
